
.menu:hover {
  -fx-background-color: rgb(192, 192, 192);
}

.menuItem:hover {
  -fx-background-color: rgb(192, 192, 192);
}

.left {
  -fx-padding: 10;
  -fx-border-style: solid inside;
  -fx-border-width: 2;
  -fx-border-radius: 2;
  -fx-border-color: black;
  -fx-background-color: rgb(192, 192, 192);

}

.main {
  -fx-background-image: url("/art/background.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
